{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Scheduler</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/miso.css' %}"/>

  <style>

  .table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
  }

  .td .th {
      text-align: left;
      padding: 8px;
  }

  .tr:nth-child(even) {
      background-color: #dddddd;
  }

  .page-content-wrapper button {
    position: fixed;
    left: 230px;
    top: 500px;
  }

  </style>
</head>

<body>
   <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/manager/">Schedule Manager</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="navbar-collapse collapse" id="navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
		<li><a href="#">Link</a></li>
		<li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">E-mail<span class="caret"></span></a>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">naver</a></li>
		    <li><a href="#">hanmail</a></li>
		    <li><a href="#">google</a></li>
		    <li><a href="#">yahoo</a></li>
		  </ul>
		</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="page-wrapper">
      <!-- 사이드바 -->
      <div id="sidebar-wrapper">
        <ul class="nav nav-pills nav-stacked navbar-collapse">
          <li><a href="/manager/staff">미소지기 평가</a></li>
          <li><a href="/manager/possible">가능 스케줄</a></li>
          <li><a href="/manager/hr">필요 인력</a></li>
          <li><a href="/manager/real">실제 스케줄</a></li>
        </ul>
       	<ul class="sidebar-nav btn-padding-30">
          <button type="button" class="btn btn-success btn-lg">Make Schedules</button>
       	</ul>
      </div>
      <!-- /사이드바 -->

      <!-- 본문 -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <h1>미소지기 관리</h1>
          <p>평가점수 조회</p>
          <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>평가 관리</th>
            <th>미소지기 이름</th>
            <th>전화번호</th>
            <th>평가 점수</th>
            <th>평가 수정</th>
            <th>신입</th>
            <th>신청스케줄</th>
          </tr>
          </thead>
          <tbody>
          <a id="scoreupdate" method="post">
           {% csrf_token %}
            {% for staff in staffAll %}
            {% with staff.name|add:":"|add:staff.phone as name%}
          <tr>
            <td>{{forloop.counter}}</td>
            <th>{{staff.name}}</th>
            <th>{{staff.phone}}</th>
            <th>{{staff.score}}</th>
            <th>
              <input type="number" name={{name}} min="10" max="100" value="" step="0.01">
            </th>
              <th>
              <input type="checkbox" name={{name}} value="1" {% if staff.newcomer == 1 %} checked {% endif %}>
            </th>
              <th>
                <a class="btn btn-default" href="../../staff/{{staff.name}}/{{staff.phone}}">
                    수정하기
                </a>
              </th>
          </tr>
            {% endwith %}
            {% endfor %}
          </tbody>
        </table>
          <br>
          <button class="btn btn-default" type="submit">평가하기</button>
          </form>
        </div>
      </div>
      <!-- /본문 -->
    </div>

<script src="https://ajax.googleais.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>