<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <title>Real schedule</title>
   <style>
    body{ 
     width:960px; 
     margin:20px auto; 
     background:#ddd;
     }

     .container {
     background:#fff url(bg.gif) repeat-y top left;
     width:960px;
     }
	
    .content { 
     width:660px; 
     height:300px; 
     float:right;
     }
	
     .sidebar {
     width:300px; 
     height:400px;
     float:left;}
	
     .header{ 
     height:50px; 
     background:#ccc; 
     }
	
     .clear {
     clear:both;
     }
   </style>
</head>
<body>
<form id="frm" method="post">
    {% csrf_token %}

  <div class="header">	
   실제근무배정 확인
 </div>	
	
  <div class="container">
      <div class="content">

	<div>희망근무일수 : <select name="희망근무일수">
        <option value=0 selected>-- 근무 불가 --</option>
        <option value='1'>1일</option>
        <option value='2'>2일</option>
        <option value='3'>3일</option>
        <option value='4'>4일</option>
        <option value='5'>5일</option>
        <option value='6'>6일</option>
        <option value='7'>7일</option>
        </select></div>

        <table>
          <thead>
           <tr>
             <th></th>
             <th>월요일</th>
             <th>화요일</th>
             <th>수요일</th>
             <th>목요일</th>
             <th>금요일</th>
             <th>토요일</th>
             <th>일요일</th>
           </tr>
          </thead>
         
        <tbody>
        <tr>
             <td>근무시간</td>
             <td>{{Mon_Time}}</td>
             <td>{{Tue_Time}}</td>
             <td>{{Wed_Time}}</td>
             <td>{{Thu_Time}}</td>
             <td>{{Fri_Time}}</td>
             <td>{{Sat_Time}}</td>
             <td>{{Sun_Time}}</td>
        </tr>
     </tbody>
    </table>

		
<div class="sidebar">
             <li><a href="#">근무가능시간 등록</a></li>
             <li><a href="#">실제근무배정 확인</a></li>
</div>
		
<div class="clear"></div>
	</div>
	
<div class="clear"></div>
</form>
</body>
</html>