    @font-face {
      font-family: cjm;
      src: url('./static/fonts/cjm.ttf');
    }

    body {
      font-family: cjm;
    }

  #page-wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    width: 190px;
    height: 300px;
    border: 1px inset;
    border-radius:10px;
    box-shadow:1px 1px 1px 1px #949494;
    margin-top: 10px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #page-content-wrapper {
    width: 100%;
    padding: 20px;
    margin-left: 20px;
  }

  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav button {
    position: fixed;
    left: 60px;
    top: 320px;
  }

  .sidebar-nav li {
    text-indent: -4.5em;
    line-height: 1em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    color: #191919;
  }

  .sidebar-nav li a:hover {
    color: #515151;
    background: rgba(255, 0, 0, 0.1);
  }

  .sidebar-nav > .sidebar-brand {
    font-size: 1.5em;
    margin-left: -90px;
    line-height: 3em;
    color: #fff;
  }

  .navbar-header a:hover {
    color: #ff0000;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }